LibraryClient/Connected Services/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/LibraryService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_AddBook_InputMessage">
    <wsdl:part name="parameters" element="tns:AddBook" />
  </wsdl:message>
  <wsdl:message name="IService_AddBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddBookResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateBook_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBook" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBookResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteBook_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBook" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBookResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetBook_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBook" />
  </wsdl:message>
  <wsdl:message name="IService_GetBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBookResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetBooks_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBooks" />
  </wsdl:message>
  <wsdl:message name="IService_GetBooks_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBooksResponse" />
  </wsdl:message>
  <wsdl:message name="IService_doTask_InputMessage">
    <wsdl:part name="parameters" element="tns:doTask" />
  </wsdl:message>
  <wsdl:message name="IService_doTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:doTaskResponse" />
  </wsdl:message>
  <wsdl:message name="IService_IssueBook_InputMessage">
    <wsdl:part name="parameters" element="tns:IssueBook" />
  </wsdl:message>
  <wsdl:message name="IService_IssueBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:IssueBookResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ReturnBook_InputMessage">
    <wsdl:part name="parameters" element="tns:ReturnBook" />
  </wsdl:message>
  <wsdl:message name="IService_ReturnBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReturnBookResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetIssuedBooks_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIssuedBooks" />
  </wsdl:message>
  <wsdl:message name="IService_GetIssuedBooks_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIssuedBooksResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetIssuedBooksInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIssuedBooksInfo" />
  </wsdl:message>
  <wsdl:message name="IService_GetIssuedBooksInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIssuedBooksInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IService_RegisterStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterStudent" />
  </wsdl:message>
  <wsdl:message name="IService_RegisterStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IService_LoginStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginStudent" />
  </wsdl:message>
  <wsdl:message name="IService_LoginStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateStudentInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStudentInfo" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateStudentInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStudentInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStudent" />
  </wsdl:message>
  <wsdl:message name="IService_GetStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetStudents_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStudents" />
  </wsdl:message>
  <wsdl:message name="IService_GetStudents_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStudentsResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="AddBook">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AddBook" message="tns:IService_AddBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AddBookResponse" message="tns:IService_AddBook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateBook">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UpdateBook" message="tns:IService_UpdateBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UpdateBookResponse" message="tns:IService_UpdateBook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteBook">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DeleteBook" message="tns:IService_DeleteBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DeleteBookResponse" message="tns:IService_DeleteBook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBook">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetBook" message="tns:IService_GetBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetBookResponse" message="tns:IService_GetBook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBooks">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetBooks" message="tns:IService_GetBooks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetBooksResponse" message="tns:IService_GetBooks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="doTask">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/doTask" message="tns:IService_doTask_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/doTaskResponse" message="tns:IService_doTask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IssueBook">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/IssueBook" message="tns:IService_IssueBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/IssueBookResponse" message="tns:IService_IssueBook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReturnBook">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ReturnBook" message="tns:IService_ReturnBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ReturnBookResponse" message="tns:IService_ReturnBook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIssuedBooks">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetIssuedBooks" message="tns:IService_GetIssuedBooks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetIssuedBooksResponse" message="tns:IService_GetIssuedBooks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIssuedBooksInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetIssuedBooksInfo" message="tns:IService_GetIssuedBooksInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetIssuedBooksInfoResponse" message="tns:IService_GetIssuedBooksInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/RegisterStudent" message="tns:IService_RegisterStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/RegisterStudentResponse" message="tns:IService_RegisterStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoginStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/LoginStudent" message="tns:IService_LoginStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/LoginStudentResponse" message="tns:IService_LoginStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateStudentInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UpdateStudentInfo" message="tns:IService_UpdateStudentInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UpdateStudentInfoResponse" message="tns:IService_UpdateStudentInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetStudent" message="tns:IService_GetStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetStudentResponse" message="tns:IService_GetStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStudents">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetStudents" message="tns:IService_GetStudents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetStudentsResponse" message="tns:IService_GetStudents_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddBook">
      <soap:operation soapAction="http://tempuri.org/IService/AddBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateBook">
      <soap:operation soapAction="http://tempuri.org/IService/UpdateBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteBook">
      <soap:operation soapAction="http://tempuri.org/IService/DeleteBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBook">
      <soap:operation soapAction="http://tempuri.org/IService/GetBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBooks">
      <soap:operation soapAction="http://tempuri.org/IService/GetBooks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="doTask">
      <soap:operation soapAction="http://tempuri.org/IService/doTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IssueBook">
      <soap:operation soapAction="http://tempuri.org/IService/IssueBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnBook">
      <soap:operation soapAction="http://tempuri.org/IService/ReturnBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIssuedBooks">
      <soap:operation soapAction="http://tempuri.org/IService/GetIssuedBooks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIssuedBooksInfo">
      <soap:operation soapAction="http://tempuri.org/IService/GetIssuedBooksInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterStudent">
      <soap:operation soapAction="http://tempuri.org/IService/RegisterStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginStudent">
      <soap:operation soapAction="http://tempuri.org/IService/LoginStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateStudentInfo">
      <soap:operation soapAction="http://tempuri.org/IService/UpdateStudentInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStudent">
      <soap:operation soapAction="http://tempuri.org/IService/GetStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStudents">
      <soap:operation soapAction="http://tempuri.org/IService/GetStudents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/LibraryService/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>